body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .section {
    text-align: center;
  }

  .folderInputs{
    display: flex;
    justify-content: center;
  }
  input[type="text"]{
    height: 10px;
  }


  p {
    margin: 5px 0;
  }


  input[type="text"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-align: center;

  }

  button {
    background-color: #ff0000;
    margin: 10px 5px;
    cursor: pointer;
    background: #e41f35;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .025em;
    color: #fff;
    font-size: 1em;
    border: 0 none;
    padding: 10px 20px;
    display: inline-block;
    transition: all .1s ease;
    cursor: pointer;
  }

  button:hover {
    background-color: #cc0000;
  }
  button:active {
    background-color: #bb0202;
    box-shadow: 0 5px #666666;
    transform: translateY(4px); 
  }

  button:focus {
    outline: none;
  }

  .radio {
	display: flex;
  justify-content: center;
  
}

.radio input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.radio label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.radio label:hover {
	cursor: pointer;
}

.radio input:checked + label {
	background-color: #ff4242;
	box-shadow: none;
}

.radio label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.radio label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 400px;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding: 16px;
}